.ResultBox {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.ResultBoxSuccess {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.ResultBoxError {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
