.InfoBox {
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.InfoBoxItem {
  margin-bottom: 10px;
}

.InfoBoxItem:last-child {
  margin-bottom: 0;
}
